.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  /* border-radius: 25px; */

  background-color: white;
  background-blend-mode: lighten;
  height: 80px;
}
.heading-logo {
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
  margin-right: auto;
}
.heading-text {
  text-decoration: black;
  text-transform: uppercase;
  text-shadow: 2px 2px grey;
  font-family: Arial, Helvetica, sans-serif;
  height: 250px;
  font-size: 30px;
  margin-top: 10px;
  display: inline;
  cursor: pointer;
}
.dog {
  margin-top: 15px;
}
.heading-dog {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 5px;
  font-size: 20px;
}
.cat {
  margin-top: 15px;
}
.heading-cat {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 5px;
  font-size: 20px;
}
.heading-cat img {
  margin: 0 0px;
}
.heading-about {
  margin-top: 20px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.heading-cart {
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 20px;
}

.flex-container a {
  text-decoration: none;
  color: black;
}
.background-dog {
  position: fixed;
  background-image: url(/src/images/back.JPG);
}

.dog-body {
  background-image: url(images/back.JPG);
  background-repeat: inherit;
}

.cat-body {
  background-image: url(images/back.JPG);
  background-repeat: unset;
  background-size: 250px 350px;
}
